<div class="container mt-5">
	<div class="row">
		<div class="col-lg-6" *ngIf="assetList.length">
			<agm-map [latitude]="currentAsset.latitude" [longitude]="currentAsset.longitude">
				<agm-marker [latitude]="currentAsset.latitude" [longitude]="currentAsset.longitude"></agm-marker>
			</agm-map>
		</div>
		<div class="{{assetList.length ? 'col-lg-6' : 'col-12'}}">
			<button class="btn btn-primary mb-3" (click)="open(content, {})">Add asset</button>
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col" class="sorting" (click)="changeSort('name')">Name</th>
						<th scope="col" class="sorting" (click)="changeSort('type')">Type</th>
						<th scope="col"></th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let el of assetList | sort: sortField: sortFlag; let i = index"
						(click)="changeMap(el)"
						[class.active]="el.id === currentAsset.id"
					>
						<td>{{i + 1}}</td>
						<td>{{el.name}}</td>
						<td>{{el.type}}</td>
						<td><button class="btn btn-primary" (click)="open(content, el, false)">Edit</button></td>
						<td><button class="btn btn-danger" (click)="delete(el)">Delete</button></td>
					</tr>
				</tbody>
			</table>
			<div *ngIf="assetList.length" class="text-center">
				{{currentAsset.hasOwnProperty('name') ? 1 : 0}} selected / Total {{assetList.length}}

			</div>
		</div>
	</div>
</div>

<ng-template #content let-modal>
	<div class="modal-header">
		<h4 *ngIf="!isNew" class="modal-title">Edit asset</h4>
		<h4 *ngIf="isNew" class="modal-title">Add asset</h4>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-12">
				<div class="form-group">
					<input class="form-control" type="text" [(ngModel)]="modalEl.name" placeholder="Name">
				</div>
				<div class="form-group" >
					<select name="type"  [(ngModel)]="modalEl.type"  class="form-control">
						<option *ngFor="let type of types" [value]="type" [defaultSelected]="modalEl.type === type">{{type}}</option>
					</select>
				</div>
				<div class="form-group">
					<input class="form-control" type="number" [(ngModel)]="modalEl.latitude" placeholder="Latitude">
				</div>
				<div class="form-group">
					<input class="form-control" type="number" [(ngModel)]="modalEl.longitude" placeholder="Longitude">
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-primary" (click)="modal.close()">Close</button>
		<button type="button" class="btn btn-primary" (click)="save(modal)">Save</button>
	</div>
</ng-template>
