* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: $darkColor;
  line-height: 1.4;
}

p {
  &:last-child {
    margin-bottom: 0;
  }
}

a {
  color: $colorMain;
  transition: all .3s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none !important;
  }
}
